@page
@model Web.Pages.QuizListModel
@{
    ViewData["Title"] = "Available Quizzes";
}

<h2>Available Quizzes</h2>

@if (Model.Quizzes.Any())
{
    <div class="quiz-container">
        <ul class="list-group">
            @foreach (var quiz in Model.Quizzes)
            {
                <li class="list-group-item">
                    <a asp-page="/Quiz/Item" asp-route-quizId="@quiz.Id" asp-route-itemId="1" class="btn btn-primary">
                        @quiz.Title (@quiz.Items.Count questions)
                    </a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <p>No quizzes available at the moment.</p>
}
<style>
    .quiz-container {
        display: flex;
        justify-content: center;
        height: 100vh;           
    }

    ul.list-group {
        display: flex;
        flex-direction: column;  
        gap: 10px;             
    }

    a.btn {
        text-decoration: none;  
        display: inline-block;   
        padding: 10px 20px;      
        border-radius: 5px;     
        transition: background-color 0.3s ease; 
        width: 200px;            
        text-align: center;      
    }

    a.btn:hover {
        background-color: #007bff; 
    }


</style>